
<hr>

<span class="counter pull-left" ></span>
  <h1>
    All-Star Break Standings
    <h5> - Click A Team Name To See It's Players - </h5>
  </h1>

<hr>


<table class="table table-inverse" >
 <thead>
   <tr class="bg-info">
     <th> Rank </th>
     <th> Team Name </th>
     <th> Score </th>
   </tr>
 </thead>

 <tbody>
   <tr class="bg-primary">
     <td>
      <b>1</b>
     </td>
     <td>
      <b>Nicks team</b>
     </td>
     <td>
     <b>167</b>
     </td>
   </tr>
   <tr class="bg-primary">
     <td>
      <b>2</b>
     </td>
     <td>
      <b>For Shizzo my Rizzo</b>
     </td>
     <td>
     <b>167</b>
     </td>
   </tr>
   <tr class="bg-info">
     <td>
      3
     </td>
     <td>
      #1
     </td>
     <td>
     152
     </td>
   </tr>
   <tr class="bg-info">
     <td>
      4
     </td>
     <td>
      Jamesons Liver
     </td>
     <td>
     152
     </td>
   </tr>
   <tr class="bg-info">
     <td>
      5
     </td>
     <td>
      Team Haley
     </td>
     <td>
     152
     </td>
   </tr>
   <tr class="bg-info">
     <td>
      6
     </td>
     <td>
      Schwarber? I Hardly Know Her!
     </td>
     <td>
     151
     </td>
   </tr>
   <tr class="bg-info">
     <td>
      7
     </td>
     <td>
      THEDON
     </td>
     <td>
     150
     </td>
   </tr>
   <tr class="bg-info">
     <td>
      8
     </td>
     <td>
      #2
     </td>
     <td>
     141
     </td>
   </tr>
   <tr class="bg-info">
     <td>
      9
     </td>
     <td>
      Burnzie's Bombers
     </td>
     <td>
     140
     </td>
   </tr>

 </tbody>

</table>


<hr>