<h1>Players</h1>

<div>
<table class="table table-hover results">
  <thead>
    <tr>
      <th>Name</th>
      <th>Team</th>
      <th>Home Runs</th>
    </tr>
  </thead>
<% @players.each do |player| %>
  <tbody>
    <tr>
      <td>
        <%= link_to(player.name.titleize, "player/#{player.id}") %>
      </td>
      <td>
        <%= player.mlb_team %>
      </td>
      <td>
        <%= player.home_runs %>
      </td>
    </tr>
  </tbody>
<% end %>
</table>
</div>

<%= button_to "Import Players", { :controller => "players", :action => "import"} %>

